@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&display=swap&subset=korean');

* {
    box-sizing: border-box;
}
body, header, h1, h2, h3, h4, p, section, div{
    margin:0;
    padding:0;
    font-family: 'Open Sans', 'Noto Sans KR', sans-serif;
}

body{
    text-align: center;
}

header{
    position: absolute;
    top:0;
    width: 100%;
    height: 240px;
    color: #fff;
    text-align: center;
    z-index: -999;
}


h1{
    margin-top: 80px;
    font-weight: 700;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
}

h3{
    font-size: 14px;
    font-weight: 700;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}


section{
    position: absolute;
    top:160px;
    left:0;
    right:0;
    width: 90%;
    height: 65%;
    margin: 0 auto;
    overflow-y: scroll;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {display:none;}


.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 60px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
}

.wrapper > div{
    height: 60px;
    line-height: 60px;
}

.wrapper > div:nth-child(1) {
    border-radius: 12px 0px 0px 0px / 12px 0px 0px 0px;
}
.wrapper > div:nth-child(4) {
    border-radius: 0px 12px 0px 0px / 0px 12px 0px 0px;
}
.wrapper > div:nth-child(5) {
    border-radius: 0px 0px 0px 12px / 0px 0px 0px 12px;
}
.wrapper > div:nth-child(8) {
    border-radius: 0px 0px 12px 0px / 0px 0px 12px 0px;
}

.item{
    border-right:1px solid rgba(0, 0, 0, 0.1);
}

.item:nth-child(4), .item:nth-child(8){
    border-right:none;
}

.classification{
    border-right:1px solid rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.1);
    color:rgba(0, 0, 0, 0.6);
}

.personnel{
    font-weight: 600;
    color:rgba(0, 0, 0, 0.7);
}

.wrapper2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 40px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
    height: 356px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    border:1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}
::-webkit-scrollbar {display:none;}

.item2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: sticky;
    width: 100%;
    top:0;
    z-index: 999;
}


/* .item2 {
  position: absolute;
} */
/*
.itme3{
  position: static;
} */

.wrapper2 > div{
    height: 40px;
    line-height: 40px;
}


.wrapper2 > div:nth-child(1){
    border-radius: 12px 0px 0px 0px / 12px 0px 0px 0px;
}
.wrapper2 > div:nth-child(2){
    border-radius: 0px 12px 0px 0px / 0px 12px 0px 0px;
}




.classification_teamr, .classification_teams{
    color:white;
    font-weight: 800;
}

.classification_teamr{
    background-color: #3c7ca2;
}
.classification_teams{
    background-color: #992853;
}

.tt{
    margin-top: 20px;
    margin-bottom: 10px;
    color:rgba(0,0,0,0.5);
    font-size:24px;
    font-weight: 600;
}

.item3{
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.item3 > div{
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
}

.item3 > div:nth-child(2n){
    border-right:none;
}

.team_r{
    color:#3c7ca2;
}
.team_s{
    color:#992853;
}

/* menu */

#menu a{
    text-decoration: none;
    color:gray;
}

#menu {
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 50px;
    bottom:0;
    left:0;
    right:0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#menu ul {
    width: 100%;
    margin: 0 auto;
    padding:0;
    text-align: center;
    list-style: none;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

}
#menu ul li{
    padding-top:15px;
    height: 50px;
    cursor:pointer;
}

#menu ul .selected {
    color:#000;
}


@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?7449304');
    src: url('../fonts/fontello.eot?7449304#iefix') format('embedded-opentype'),
    url('../fonts/fontello.woff?7449304') format('woff'),
    url('../fonts/fontello.ttf?7449304') format('truetype'),
    url('../fonts/fontello.svg?7449304#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

.demo-icon
{
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-size: 20px;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* You can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}


