@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
body{
	margin:0;
	color:rgb(255,255,255,0.2);
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
	font-family: 'Noto Sans KR', sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	position:relative;
	background: no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:60px 70px;
  background:rgba(0,0,0,.8);
}
.login-html .sign-in-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	backface-visibility:hidden;
}

.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
header {
	display:block;
	text-align: center;
	margin:0 auto;
	margin-bottom:40px;
	font-size:32px;
	color:#fff;
}
header img {
	width:60px;
}

header h1{
	font-family: 'Teko', sans-serif;
	letter-spacing: 1px;
}
.login-html .sign-in:checked + .tab{
	color:#fff;
	border-color:#007d68;
}
.login-form{
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}

.login-form .group .label{
	display: none;
}

.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	font-size: 14px;
	display:block;
}

.login-form .group .button{
	font-size: 18px;
}

.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:rgba(255,255,255,.5);
}
.login-form .group .button{
	background:#3366FF;
}

.login-form .group #check_font{
	font-size: 14px;
	font-weight: 200;
}

.login-form .group label .icon{
	vertical-align: sub;
	width:15px;
	height:15px;
	border-radius:2px;
	margin-right: 4px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#007d68;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}
